/* font  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --primary: #3a3a3a;
  --secondary: #e02c6d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* --------------------------
        ------ [ Common Style ] ------ 
             -----------------------------*/
.section--container {
  padding: 0 120px;
  margin-top: 100px;
}

.title--primary {
  font-size: 26px;
  font-weight: 600;
  color: var(--primary);
}

.title--heading {
  font-size: 38px;
  font-weight: 600;
  line-height: 45px;
}

.desc--primary,
nav a {
  font-size: 16px;
  font-weight: 400;
  /* color: var(--primary); */
  color: gray;
}

.primary-btn {
  background: var(--secondary);
  border: none;
  border-radius: 41px;
  padding: 10px 24px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}

/* ============================================================================ */

/* ------ [ Navigation ] ------ */

header {
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

nav > ul {
  display: flex;
  list-style: none;
  font-weight: 300;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

nav a {
  text-decoration: none;
}

/* banner container */
.banner-container {
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  gap: 250px;

  margin-top: 100px;
}

.banner-img {
  background-image: url("./images/Circle\ design.svg");
  height: 100vh;
  width: 600px;
  background-repeat: no-repeat;

  position: absolute;
  right: 0px;
  top: 170px;
}

/* --------------------------
        ------ [ Sponsors Logo ] ------ 
             -----------------------------*/
.sponsors-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 100px;

  border-top: 1px solid #f1e4ff;
  border-bottom: 1px solid #f1e4ff;
}

.sponsors-container img {
  width: 60px;
  margin: 20px auto;
}

.banner-desc {
  margin: 20px auto;
}

.border-mark {
  border-bottom: 1px solid red;
}

/* --------------------------
        ------ [ Popular Collection ] ------ 
             -----------------------------*/
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;

  margin-top: 40px;
}

.card {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  padding: 15px;
}

.card-img img {
  width: 100%;
  border-radius: 5px;
}

.card-title {
  font-size: 28px;
  font-weight: 600;
  color: var(--primary);
}

.card-price {
  font-size: 25px;
  font-weight: 400;
  color: var(--primary);
}

.card-rating {
  color: orange;
  font-size: 10px;
}

.card-desc {
  font-size: 15px;
  font-weight: 400;
  /* color: var(--primary); */
  color: gray;
}
/* --------------------------
        ------ [ Featured Products ] ------ 
             -----------------------------*/
.featured-products {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;

  margin-bottom: 70px;
}

.featured-content {
  margin-bottom: 35px;
}

.featured-desc {
  margin: 15px auto;
}

.featured-btn {
  margin-top: 20px;
  border-radius: 0px;
}

/* --------------------------
        ------ [ Footer Section ] ------ 
             -----------------------------*/
.footer-container {
  background: #0a0826;
  height: 200px;
  color: #d9dbe1;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.brand-icon {
  display: flex;
  gap: 20px;
}

.brand-icon i {
  background: #22213c;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin-top: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright-title {
  margin: 8px auto;
}

/*------------------------------------------------------
 =========> { Responsive Small Device } <============ 
 ------------------------------------------------------*/
@media screen and (max-width: 576px) {
  .section--container {
    padding: 0;
  }
  .featured-products {
    flex-direction: column;
    padding: 0 20px;
    gap: 0px;
  }
  .card-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 20px;
  }
  .sponsors-container {
    flex-wrap: wrap;
  }
  nav,
  ul,
  .banner-container {
    flex-direction: column;
    height: 100vh;
  }
  .banner-img {
    position: relative;
  }
}

/*------------------------------------------------------
 =========> { Responsive Medium Device } <============ 
 ------------------------------------------------------*/
@media screen and (min-width: 576px) and (max-width: 992px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .sponsors-container {
    flex-wrap: wrap;
  }
}
